<section class="resources-page">
	<div class="spark-container">
		<div class="resource-sidebar">
			{% for layout in page.meta('resource_sidebar') %}
				{% if layout.acf_fc_layout == "link_list" %}
					<div class="link-list">
						<div class="link-list-content">
							<div class="spark-container module-heading">
			 					<h5>{{ layout.heading }}</h5>
								<div>
									<a class="read-more" href="{{ layout.see_more_link }}" target="_blank">{{ layout.see_more_text }}<span class="more-icon fab fa-medium"></span></a>
								</div>
							</div>
							<div class="spark-container module-content">
								{% for post in layout.posts %}
									<div class="spark-position-preview">
										<a class="spark-position-link" href="{{ post.link }}" target="_blank">
											<span class="position-title">{{ post.title }}</span>
											<span class="fas fa-file-text" target="_blank"></span>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				{% if layout.acf_fc_layout == "whitepaper" %}
					<div class="whitepaper">
						<div class="whitepaper-content">
							<div class="spark-container module-heading">
								<h5>Whitepaper</h5>
							</div>
							<div class="spark-container module-content">
								<div class="spark-content">{{ layout.content }}</div>
							</div>	
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="resource-videos">
			<div id="{{ layout.heading|lower|replace({" ": "-"}) }}" class="spark-video-list">
				<div class="module-container">
					<div class="spark-container module-heading">
						<h5>Videos</h5>
						<a class="read-more" href="{{ page.meta('resource_videos')[0].see_more_link }}" target="_blank">{{ page.meta('resource_videos')[0].see_more_text }}<span class="more-icon fab fa-youtube"></span></a>
					</div>
					<div class="videos">
						{% for layout in page.meta('resource_videos') %}
							{% for post in layout.videos %}
								<div class="spark-video-preview-container">
									<div class="spark-video-preview youtube-item" data-id="{{ post.youtube_id }}">
										<div class="video-thumb trigger-youtube-modal">
											<img src="https://img.youtube.com/vi/{{ post.youtube_id }}/maxresdefault.jpg"/>
										</div>
										<div class="video-meta">
											<h3>{{ post.title }}</h3>
											<p>{{ post.description }}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
					<div class="youtube-modal">
						<div class="spark-modal-close"></div>
						<div class="youtube-frame">
							<span class="modal-close-button"></span>
							<iframe width="720" height="405" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					{% if layout.see_more_link %}
					<div class="spark-container see-more">
						<span>
							<a href="{{ layout.see_more_link }}" target="_blank">{{ layout.see_more_text }}</a>
						</span>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>