<section id="{{ layout.heading|lower|replace({" ": "-"}) }}" class="spark-video-list">
	<div class="spark-container">
		{% for post in layout.videos %}
			<div class="spark-video-preview-container">
				<div class="spark-video-preview youtube-item" data-id="{{ post.youtube_id }}">
					<div class="video-thumb trigger-youtube-modal">
						<img src="https://img.youtube.com/vi/{{ post.youtube_id }}/maxresdefault.jpg"/>
					</div>
					<div class="video-meta">
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="youtube-modal">
		<div class="spark-modal-close"></div>
		<div class="youtube-frame">
			<span class="modal-close-button"></span>
			<iframe width="560" height="360" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{% if layout.see_more_link %}
	<div class="spark-container see-more">
		<span>
			<a href="{{ layout.see_more_link }}" target="_blank">{{ layout.see_more_text }}</a>
		</span>
	</div>
	{% endif %}
</section>