{# 
	Full Width Content Block
	
	Vars:
		layout.content: html content object
		style_class(string) : string of class names
		position(string) : 'center', 'top-left', 'top-center', 'center-left', 'center-right', 'bottom-left', 'bottom-center', 'bottom-right'
		
#}

<section class="spark-vimeo-hero knockout {{ layout.content_position }}">  
	<div class="spark-container" style="background-image:url({{ layout.background_image.url }}); background-color:{{ layout.background_color }}">
		<div class="spark-content">{{ layout.content }}</div>
		<div class="video-container" style="background-image: url({{ layout.placeholder_img.url }});">
		    <iframe class="video" data-src="https://www.youtube.com/embed/{{ layout.youtube_id }}?autoplay=1&frameborder=0" width="960" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
		</div>
	</div>
    <div class="overlay"></div>
</section>