{# 
	Full Width Content Block
	
	Vars:
		layout.content: html content object
		style_class(string) : string of class names
		position(string) : 'center', 'top-left', 'top-center', 'center-left', 'center-right', 'bottom-left', 'bottom-center', 'bottom-right'
		
#}

<section class="spark-vimeo-hero knockout {{ layout.content_position }}">  
	<div class="spark-container" style="background-image:url({{ layout.background_image.url }}); background-color:{{ layout.background_color }}">
		<div class="spark-content">{{ layout.content }}</div>
		<div class="video-container">
			<video id="heroVideo" src="{{ layout.video_url }}" width="720" height="420" poster="{{ layout.placeholder_img.url }}"></video>
			<span class="control-button play fas fa-play">
			</span>
		</div>
	</div>
</section>